@using System.Web.Mvc.Html
@model WebGridExample.ViewModel.UserViewModel
<!DOCTYPE html>
<html>
<head>
    <title>WebGrid Example</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .text-center {
            text-align: center;
        }

        .checkbox-width {
            width: 50px;
        }
    </style>
</head>
<body>

    <h2>WebGrid Example</h2>

    @if (Model != null)
    {
        <div id="userGrid">
            @Html.Partial("userGrid", Model.Users)
        </div>
    }

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#allBox").on("click", function () {
                $("[name=select]").prop("checked", $("#allBox").is(":checked"));
            });
        });
    </script>
</body>
</html>
