@using System.Web.Mvc.Html
@model WebGridExample.ViewModel.UserViewModel
<!DOCTYPE html>
<html>
<head>
    <title>WebGrid Example</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .text-center {
            text-align: center;
        }

        .checkbox-width {
            width: 50px;
        }
    </style>
</head>
<body>

    <h2>WebGrid Example</h2>

    @if (Model != null)
    {
        <div id="userGrid">
            @Html.Partial("userGrid", Model.Users)
        </div>
    }

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
    <script src="/Scripts/WebGridFilter.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            function formatDate(date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;
                var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm.toUpperCase();
                return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
            }

            $("#allBox").on("click", function () {
                $("[name=select]").prop("checked", $("#allBox").is(":checked"));
            });

            var webGridHubClient = $.connection.webGridHub;

            webGridHubClient.client.populateGrid = function (users) {
                if (users.length > 0) {
                    var row = "<tr><td class=\"text-center checkbox-width\"></td><td></td><td></td><td></td><td></td></tr>";
                    $.each(users, function (index, user) {
                        $('#grid tbody').append($(row));
                        var bottomRow = $("#grid tbody tr:last");
                        $("td:nth-child(1)", bottomRow).html("<input id=\"select\" class=\"box\" name=\"select\" " +
                            "type=\"checkbox\" value=\"" + user.Id + "\">");
                        $("td:nth-child(2)", bottomRow).html(user.UserName);
                        $("td:nth-child(3)", bottomRow).html(user.FirstName);
                        $("td:nth-child(4)", bottomRow).html(user.LastName);
                        var formattedDate = formatDate(new Date(user.LastLogin));
                        $("td:nth-child(5)", bottomRow).html(formattedDate);
                    });
                } else {
                    $(".more-button").html("<div class=\"alert alert-info\">No more records.</div>");
                }
            };

            $("#moreButton").on("click", function () {
                var pageSize = 5;
                var getNextPageNo = ($("#grid tbody tr").size() / pageSize) + 1;
                webGridHubClient.server.getPagedUsers(getNextPageNo, pageSize);
            });

            $.connection.hub.start();
        });
    </script>
</body>
</html>
